# ============== UPDATE INFORMATION BELOW BEFORE USE

# ---- Tenant
tenancy_ocid     = "ocid1.tenancy.oc1..aaaaxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
user_ocid        = "ocid1.user.oc1..aaaaaaaxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
fingerprint      = "80:8d:62:02:9a:0f:95:e0:29:79:90:78:8a:4e:9d:bb"
private_key_path = "/Users/cpauliat/.oci/oci_api_key_EMEAOSC_20190430_private.pem"
compartment_ocid = "ocid1.compartment.oc1..aaaaaaaxxxxxxxxxxxxxxxxxxxxxxxx"
region           = "eu-frankfurt-1"
home_region      = "eu-frankfurt-1"

# ---- SSH key pair for OKE worker nodes
ssh_public_key_file          = "sshkeys/ssh_key_workers.pub"
ssh_private_key_file         = "sshkeys/ssh_key_workers"

# ---- SSH key pair for bastion host
ssh_public_key_file_bastion  = "sshkeys/ssh_key_bastion.pub"
ssh_private_key_file_bastion = "sshkeys/ssh_key_bastion"

# ---- Authorized public IPs ingress
#authorized_ips  = "90.119.77.177/32"    # a specific public IP on Internet
#authorized_ips  = "129.156.0.0/16"          # a specific Class B network on Internet
authorized_ips   = "0.0.0.0/0"               # all Internet

# ============== NO UPDATE NEEDED BELOW

# ---- availability domain (1, 2 or 3)
AD               = "1"

# ---- IP addresses
cidr_vcn          = "10.0.0.0/16"
cidr_bastion      = "10.0.0.0/24"
cidr_workers      = "10.0.10.0/24"
cidr_api_endpoint = "10.0.20.0/24"
cidr_lbs          = "10.0.30.0/24"
cidrs_oke        = [ "130.35.0.0/16", "134.70.0.0/17", "138.1.0.0/16", "140.91.0.0/17", "147.154.0.0/16", "192.29.0.0/16" ]

# -- OKE
oke_cluster_name                        = "tf-demo17-oke"
oke_cluster_k8s_version                 = "v1.23.4"    
oke_cluster_k8s_dashboard_enabled       = "true"
oke_cluster_tiller_enabled              = "true"
oke_k8s_network_config_pods_cidr        = "10.244.0.0/16"
oke_k8s_network_config_services_cidr    = "10.96.0.0/16"
oke_node_pool_kubernetes_version        = "v1.23.4"    
oke_node_pool_name                      = "tf-demo17-node-pool-1"
oke_node_pool_node_shape                = "VM.Standard.E3.Flex"
oke_node_pool_node_ocpus                = "1"           # for Flex shapes
oke_node_pool_node_memory_in_gbs        = "8"           # for Flex shapes
oke_node_pool_initial_node_labels_key   = "key"
oke_node_pool_initial_node_labels_value = "value"
oke_node_pool_nb_worker_nodes           = "3"
oke_oracle_linux_version                = "7.9"